@import 'media';

$col: 12;
$gutter: 20px;

// div[class^='col-']{
//     padding: -$gutter / 2;
// }

.row{
   display: flex;
   flex-wrap: wrap;

   @include xs{
       @for $i from 1 through $col{
           .col-xs-#{$i}{
                width: (100% /12) *  $i;
           }
       }
   }

   @include md{
        @for $i from 1 through $col{
            .col-md-#{$i}{
                width: (100% /12) *  $i;
            }
        }
    }

    @include lg{
        @for $i from 1 through $col{
            .col-lg-#{$i}{
                 width: (100% /12) *  $i;
            }
        }
    }
}

