// CONTENT CENTER //
@import "media";

@mixin content-center($color) {
  .title {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }

    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;

    @include xs{
      font-size: 12px;
    }

    @include md{
      font-size: 12px;
    }

    @include lg{
      font-size: 10px;
    }
  }

  h5 {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }

    font-weight: 500;

    &:first-letter {
      text-transform: capitalize;
    }

    @include xs{
      font-size: 14px;
    }

    @include md{
      font-size: 16px;
    }

    @include lg{
      font-size: 18px;
    }
  }

  h1 {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }

    text-transform: uppercase;
    letter-spacing: 5px;
    
    font-weight: 900;

    @include xs{
      font-size: 45px;
    }

    @include md{
      font-size: 100px;
    }

    @include lg{
      font-size: 130px;
    }
  }

  h2 {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 700;

    @include xs{
      font-size: 40px;
    }

    @include md{
      font-size: 40px;
    }

    @include lg{
      font-size: 45px;
    }
  }

  h3{
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;

    @include xs{
      font-size: 20px;
    }

    @include md{
      font-size: 30px;
    }

    @include lg{
      font-size: 30px;
    }
  }

  h4{
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }
    text-transform: capitalize;
    font-weight: 600;

    @include xs{
      font-size: 15px;
    }

    @include md{
      font-size: 20px;
    }

    @include lg{
      font-size: 20px;
    }
  }

  p{
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }
    
    &::first-letter{
      text-transform: capitalize;
    }

    font-weight: 400;
    padding-top: 10px;

    @include xs{
      font-size: 12px;
    }

    @include md{
      font-size: 14px;
    }

    @include lg{
      font-size: 14px;
    }
  }
}
