// CONTENT CENTER //
@import "media";

@mixin content-center($color) {
  .title {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }

    text-transform: uppercase;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: 2px;

    @include xs{
      font-size: 12px;
    }
  }

  h5 {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }

    font-size: 18px;
    font-weight: 500;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  h1 {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }

    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 130px;
    font-weight: 900;

    @include xs{
      font-size: 50px;
      font-weight: 900;
    }
  }

  h2 {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }
    text-transform: capitalize;
    font-size: 45px;
    font-weight: 700;
  }

  h3{
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
  }

  h4{
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 600;
  }

  p{
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }
    
    &::first-letter{
      text-transform: capitalize;
    }

    font-size: 14px;
    font-weight: 400;
    padding-top: 10px;
  }
}
