@import "reset";
@import 'mixin';

header {
  width: 100vw;
  height: 650px;

  background-image: url("https://ninetheme.com/themes/forester/wp-content/uploads/2018/05/bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  position: relative;
  .container {
    width: 80%;
    margin: 0 auto;

    &::before {
      content: "";
      width: 100vw;
      border-bottom: 1px solid $primaryColor;

      position: absolute;
      top: 80px;
      left: 0;
    }

    .top-header {
      width: 100%;
      height: 80px;
      position: relative;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .menu {
        nav {
          ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
              a {
                text-transform: uppercase;
                color: $primaryColor;
                font-size: 10px;
                font-weight: 500;
                letter-spacing: 1px;
                padding: 10px;

                &:last-child {
                  padding-right: 0;
                }
              }
            }
          }
        }
      }

      .logo {
        a {
          padding: 5px;
          img {
            object-fit: cover;
          }
        }
      }

      .contact {
        nav {
          ul {
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
              a {
                padding: 10px;
                transition: all 0.2s ease-in;

                &:last-child {
                  padding-right: 0;
                }

                &:hover {
                  color: rgba(143, 138, 138, 0.562);
                  transition: all 0.2s ease-in;
                }

                i {
                  color: $primaryColor;
                  font-size: 10px;
                  //font-family: 500;
                }

                span {
                  padding-left: 5px;
                  color: $primaryColor;
                  font-size: 10px;
                  font-weight: 500;
                  letter-spacing: 1px;
                  text-transform: uppercase;
                  position: relative;

                  //   &::before{
                  //       content: "";
                  //       width: 12px;
                  //       height: 12px;
                  //       color: $primaryColor;
                  //       border-right: 1px solid $primaryColor;

                  //       position: absolute;
                  //       top: 0;
                  //       left: 0;

                  //       transform: translateY(50%);
                  //   }
                }
              }
            }
          }
        }
      }
    }

    .bottom-header {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;

      .content-center {
        @include content-center(true);
      }

      .button {
        margin-top: 40px;

        color: white;
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        padding: 15px 40px;
        border-radius: 30px;
        background: rgba(190, 208, 148, 0.8);

        &:focus {
          color: $secondaryColor;
        }
      }
    }
  }
}

.our-story {
  width: 100vw;
  height: 470px;
  background: white;

  .container {
    margin: 0 auto;
    width: 80%;

    text-align: center;

    .content-center {
      padding: 140px 90px 140px;
    
      position: relative;

      @include content-center(false);

      .wrapper {
        width: 100%;
        text-align: center;
        font-size: 12px;

        display: flex;

        position: absolute;
        bottom: 30%;
        left: 32%;

        transform: translateY(-50%);
        p {
          color: rgb(162, 162, 162);
        }

        a {
          color: rgb(162, 162, 162);
          padding-left: 5px;
          text-transform: capitalize;
          text-decoration: underline;
          
        }
      }
    }
  }
}
