@import "reset";
@import "mixin";
@import "media";

.our-story {
  background: $primaryColor;

  .container {
    text-align: center;

    .content {
      width: 70%;
      transform: translateX(20%);

      .wrapper {
        .content-center {
          @include content-center(false);
        }
      }

      .btn-inner {
        font-size: 12px;

        p {
          color: $smallTextColor;
        }

        a {
          color: $smallTextColor;
          text-transform: capitalize;
          text-decoration: underline;
        }
      }
    }
  }
}

.our-expertise {
  background: rgb(242, 244, 236);

  .container {
    text-align: center;

    .content {
      .wrapper {
        .content-center {
          @include content-center(false);
        }
      }
    }

    .row {
      @include lg{
        display: flex;
        flex-wrap: wrap;
      }

      .col-md-6 {
        background: $primaryColor;

        &:hover {
          .icon {
            i {
              transform: translateY(-10px);
              transition: all 0.2s ease-in;
            }
          }
        }

        .icon {
          background-image: url("https://ninetheme.com/themes/forester/wp-content/uploads/2018/05/bg-1.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;

          height: 180px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            font-size: 45px;
            font-weight: 400;
            color: $primaryColor;
            transition: all 0.2s ease-in;
          }
        }

        .wrapper {
          margin-top: 20px;

          .content-center {
            padding: 15px;
            @include content-center(false);
          }

          a {
            font-size: 12px;
            font-weight: 500;
            color: $secondaryColor;
            text-transform: uppercase;
            padding: 10px;
          }
        }

        @include xs {
          margin: 20px;
        }

        @include md {
          margin: 14px;
        }

        @include lg {
          margin: 14px;
          flex-basis: 31%;
        }
      }
    }

    .bottom {
      margin-top: 20px;

      p {
        width: 40%;
        font-size: 12px;
        font-weight: 300;
        color: $secondaryColor;
        transform: translateX(75%);
      }

      a {
        margin-top: 10px;
        padding: 10px 40px;
        border: 1px solid #ccc;
        border-radius: 50px;

        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        color: $secondaryColor;

        transition: all 0.3s ease-in;

        &:hover {
          color: $primaryColor;
          background: #000;
          transition: all 0.3s ease-in;
        }
      }
    }
  }
}

.our-portfolio {
  .container {
    text-align: center;
    padding-bottom: 0px;

    .content {
      .wrapper {
        .content-center {
          @include content-center(false);
        }
      }
    }

    .filter-menu {
      nav {
        ul {
          display: flex;
          justify-content: center;
          align-items: center;

          li {
            cursor: pointer;
            text-transform: uppercase;
            padding: 40px 20px;
            font-size: 11px;
            font-weight: 700;
            transition: all 0.2s ease-in;

            &.active {
              color: $smallTextColor;
            }

            &:hover {
              color: $smallTextColor;
              transition: all 0.2s ease-in;
            }
          }
        }
      }
    }
  }

  .filter-portfolio {
    .row {
      @include lg{
        display: flex;
        flex-wrap: wrap;
      }

      .col-md-6 {
        position: relative;
        margin-bottom: 10px;

        img {
          object-fit: cover;
        }

        &:hover {
          .overlay {
            visibility: visible;
            opacity: 1;
            transition: all 0.3s linear;
            height: 100%;
          }
        }

        .overlay {
          text-align: center;
          max-width: 100%;
          width: 100%;
          height: 0%;
          background: rgb(54, 54, 54);

          position: absolute;
          top: 0;
          left: 0;

          visibility: hidden;
          opacity: 0;
          transition: all 0.3s linear;

          .content-center {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            @include content-center(true);

            i {
              color: $primaryColor;
              font-size: 10px;
            }
          }
        }

        @include xs {
          margin: 10px;
        }

        @include md {
          margin: 5px;
        }

        @include lg {
          flex-basis: 49%;
          margin: 5px;
        }
      }
    }
  }

  .creative {
    background: rgb(242, 244, 236);

    .container {
      .row {
        @include lg{
          display: flex;
          text-align: start;
        }

        .col-md-6 {
         display: flex;

          .icon {
            padding-right: 15px;

            i {
              font-size: 80px;
              font-weight: 200;

              @include xs{
                font-size: 60px
              }
            }
          }

          .content-center {
            @include content-center(false);

            @include xs {
              text-align: start;
              margin-bottom: 30px;
            }
          }
        }
      }
    }
  }

  .our-team {
    .container {
      padding: 140px 0 0;
      text-align: center;

      .wrapper {
        .content-center {
          @include content-center(false);
        }
      }

      #slide1 {
        .col-md-6{
          .image-box {
            margin: 20px;
            overflow: hidden;
            position: relative;
  
            &:hover {
              img {
                transform: scale(1.1);
                transition: all 0.6s ease-in-out;
              }
  
              .info {
                position: absolute;
                top: 5%;
                left: 5%;
  
                visibility: visible;
                opacity: 1;
                transition: all 0.4s ease-in-out;
              }
            }
  
            img {
              max-width: 100%;
              width: 100%;
              vertical-align: middle;
              transition: all 0.6s ease-in-out;
            }
  
            margin-right: 20px;
            &:last-child {
              margin-right: 0;
            }
  
            .info {
              visibility: hidden;
              opacity: 0;
              transition: all 0.4s ease-in-out;
  
              padding: 60px 0;
              background: $primaryColor;
  
              width: 90%;
  
              position: absolute;
              top: 5%;
              left: -5%;
  
              .content-center {
                width: 80%;
                transform: translateX(25px);
                @include content-center(false);
              }
  
              .icon {
                margin-top: 40px;
  
                i {
                  font-size: 12px;
                  cursor: pointer;
  
                  &:hover {
                    color: rgba(204, 204, 204, 0.678);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .our-description {
    .services {
      text-align: center;
      background: #000;

      .container {
        display: flex;
        justify-content: space-between;

        .col {
          flex-basis: 22%;

          .content-center {
            @include content-center(true);
          }
        }
      }
    }

    .service-body {
      height: 400px;
      background-image: url("https://ninetheme.com/themes/forester/wp-content/uploads/2017/07/bg-7.jpg");
      background-repeat: no-repeat;

      position: relative;

      &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.466);

        position: absolute;
        top: 0;
        left: 0;
      }

      .container {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);

        .wrapper {
          .content-center {
            @include content-center(true);
          }
        }

        #slide2 {
          overflow: hidden;
          .quotes {
            .quotes-body {
              @include content-center(true);
            }

            .quotes-bottom {
              @include content-center(true);
            }
          }
        }
      }
    }
  }

  .social {
    background: rgb(242, 244, 236);

    .container {
      text-align: center;

      .wrapper {
        .content-center {
          @include content-center(false);
        }
      }

      .row {
        margin: 30px 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .icon {
          i {
            font-size: 70px;
            margin-bottom: 15px;
          }

          @include content-center(false);
        }
      }
    }
  }
}

.our-team {
  .container {
    text-align: center;

    .content {
      .wrapper {
        .content-center {
          @include content-center(false);
        }
      }
    }

    #slide1 {
      .col-md-6 {
        .image-box {
          overflow: hidden;
          position: relative;

          &:hover {
            img {
              transform: scale(1.1);
              transition: all 0.6s ease-in-out;
            }

            .info {
              position: absolute;
              top: 5%;
              left: 5%;

              visibility: visible;
              opacity: 1;
              transition: all 0.4s ease-in-out;
            }
          }

          img {
            vertical-align: middle;
            transition: all 0.6s ease-in-out;
          }

          .info {
            visibility: hidden;
            opacity: 0;
            transition: all 0.4s ease-in-out;

            padding: 60px 0;
            background: $primaryColor;

            width: 90%;

            position: absolute;
            top: 5%;
            left: -5%;

            .content-center {
              width: 80%;
              transform: translateX(25px);
              @include content-center(false);
            }

            .icon {
              margin-top: 40px;

              i {
                font-size: 12px;
                cursor: pointer;

                &:hover {
                  color: rgba(204, 204, 204, 0.678);
                }
              }
            }
          }

          @include xs{
            margin: 30px;
          }
  
          @include md{
            margin: 20px;
          }
        }
      }
    }
  }
}

.our-description {
  .services {
    text-align: center;
    background: #000;

    .container {
      .row{
        @include lg{
          display: flex;
          justify-content: space-between;
        }
  
        .col-md-6 {
          @include xs{
            margin: 15px;
          }
          @include lg{
            flex-basis: 22%;
          }
          .content-center {
            @include content-center(true);
          }
        }
      }
    }
  }

  .service-body {
    height: 500px;
    background-image: url("https://ninetheme.com/themes/forester/wp-content/uploads/2017/07/bg-7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.466);

      position: absolute;
      top: 0;
      left: 0;
    }

    .container {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      .wrapper {
        .content-center {
          @include content-center(true);
        }
      }

      #slide2 {
        overflow: hidden;

        .quotes {
          .quotes-body {
            @include content-center(true);
          }

          .quotes-bottom {
            @include content-center(true);
          }
        }
      }
    }
  }
}

.social {
  background: rgb(242, 244, 236);

  .container {
    text-align: center;

    .wrapper {
      .content-center {
        @include content-center(false);
      }
    }

    .row {
      margin: 30px 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        i {
          font-size: 70px;
          margin-bottom: 15px;
        }

        @include content-center(false);
      }
    }
  }
}

.contact {
  .container {
    .row{
      @include md{
        display: flex;
      }
  
      @include lg{
        display: flex;
      }
  
      .left {
        @include md{
          flex-basis: 35%;
        }
  
        @include lg{
          flex-basis: 35%;
        }
        
        @include content-center(false);
  
        .method-contact {
          .col {
            display: flex;
            margin-bottom: 20px;
  
            .icon {
              text-align: center;
              margin-right: 30px;
  
              i {
                font-size: 30px;
                font-weight: 200;
              }
            }
  
            .wrapper {
              position: relative;
  
              &::before {
                content: "";
  
                width: 40px;
                height: 40px;
  
                border-left: 1px solid rgba(204, 204, 204, 0.26);
  
                position: absolute;
                left: 0;
  
                transform: translate(-20%, 10%);
              }
            }
          }
        }
      }
  
      .right {
        flex-basis: 65%;
  
        input,
        textarea {

          @include xs{
            height: 30px;
          }

          padding: 10px;
          width: 100%;
          height: 45px;
          background: rgba(223, 216, 216, 0.26);
          border-radius: 4px;
  
          &::placeholder {
            // padding: 15px;
            text-transform: capitalize;
          }
        }
  
        textarea {
          height: 100px;
        }
  
        button {
          min-width: 180px;
          width: 180px;
          height: 45px;
          border: 1px solid rgba(204, 204, 204, 0.185);
          border-radius: 50px;
          text-transform: uppercase;
          transition: all 0.2s ease-in;
  
          &:hover {
            border: transparent;
            background: rgba(226, 222, 222, 0.26);
            transition: all 0.2s ease-in;
          }
        }
      }
    }
  }

  .map {
    iframe {
      max-width: 100%;
      width: 100%;
    }
  }

  .client {
    .container {
      padding: 50px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      #slide3 {
        .icon {
          transition: all 0.2s ease-in;
          position: relative;

          &:hover {
            &::before {
              content: "";
              width: 100%;
              height: 100%;

              background: rgba(255, 255, 255, 0.575);
              position: absolute;
              top: 0;
              left: 0;
            }
          }

          img {
            max-width: 100%;
            width: 50%;
            height: 50%;
            cursor: pointer;
          }
        }
      }
    }
  }
}

.back-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  transform: translate(-30px, -30px);

  a {
    padding: 15px;
    background: $inputColor;
    border-radius: 4px;

    &::before {
      content: "";
      width: 5px;
      height: 5px;

      border-top: 2px solid $primaryColor;
      border-left: 2px solid $primaryColor;

      position: absolute;
      top: 0%;
      left: 0%;

      transform: translate(12px, 10px) rotate(45deg);
    }
  }
}
