@import "reset";
@import "mixin";
@import "media";
@import "grid";

.our-story {
  background: $primaryColor;

  .container {
    text-align: center;

    .row {
      .col-xs-12 {
        .content {
          width: 70%;
          transform: translateX(20%);

          .wrapper {
            .content-center {
              @include content-center(false);
            }
          }

          .btn-inner {
            font-size: 12px;

            p {
              color: $smallTextColor;
            }

            a {
              color: $smallTextColor;
              text-transform: capitalize;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.our-expertise {
  background: rgb(242, 244, 236);

  .container {
    text-align: center;

    .content {
      .wrapper {
        .content-center {
          @include content-center(false);
        }
      }
    }

    .row {
      .col-md-4 {
        background: $primaryColor;

        @include xs {
          margin: 20px;
        }

        @include md {
          margin: 0px;
        }

        @include lg {
          margin: 0px;
        }

        &:hover {
          .icon {
            i {
              transform: translateY(-10px);
              transition: all 0.2s ease-in;
            }
          }
        }

        .icon {
          background-image: url("https://ninetheme.com/themes/forester/wp-content/uploads/2018/05/bg-1.jpg");
          background-size: cover;
          background-repeat: no-repeat;
          background-attachment: fixed;

          height: 180px;
          display: flex;
          justify-content: center;
          align-items: center;

          i {
            font-size: 45px;
            font-weight: 400;
            color: $primaryColor;
            transition: all 0.2s ease-in;
          }
        }

        .wrapper {
          margin-top: 20px;

          .content-center {
            padding: 15px;
            @include content-center(false);
          }

          a {
            font-size: 12px;
            font-weight: 500;
            color: $secondaryColor;
            text-transform: uppercase;
            padding: 10px;
          }
        }
      }
    }

    .bottom {
      margin-top: 20px;

      p {
        width: 40%;
        font-size: 12px;
        font-weight: 300;
        color: $secondaryColor;

        @include xs {
          font-size: 10px;
          transform: translateX(75%);
        }

        @include md {
          transform: translateX(75%);
        }

        @include lg {
          transform: translateX(75%);
        }
      }

      a {
        margin-top: 10px;
        padding: 10px 40px;
        border: 1px solid #ccc;
        border-radius: 50px;

        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        color: $secondaryColor;

        transition: all 0.3s ease-in;

        &:hover {
          color: $primaryColor;
          background: #000;
          transition: all 0.3s ease-in;
        }
      }
    }
  }
}

.our-portfolio {
  .container {
    text-align: center;
    padding-bottom: 0px;

    .content {
      .wrapper {
        .content-center {
          @include content-center(false);
        }
      }
    }

    .filter-menu {
      nav {
        ul {
          display: flex;
          justify-content: center;
          align-items: center;

          li {
            cursor: pointer;
            text-transform: uppercase;
            padding: 40px 20px;
            font-size: 11px;
            font-weight: 700;
            transition: all 0.2s ease-in;

            &.active {
              color: $smallTextColor;
            }

            &:hover {
              color: $smallTextColor;
              transition: all 0.2s ease-in;
            }
          }
        }
      }
    }
  }

  .filter-portfolio {
    .row {
      .col-lg-6 {
        .box {
          position: relative;
          margin: 5px;

          @include xs {
            margin-bottom: 10px;
          }

          @include md {
            margin-bottom: 10px;
          }

          @include lg {
            margin-bottom: 0px;
          }

          img {
            object-fit: cover;
          }

          &:hover {
            .overlay {
              visibility: visible;
              opacity: 1;
              transition: all 0.3s linear;
              height: 99%;
              background: rgb(54, 54, 54);
            }
          }

          .overlay {
            text-align: center;
            width: 100%;
            height: 0;

            position: absolute;
            top: 0;
            left: 0;

            visibility: hidden;
            opacity: 0;
            transition: all 0.3s linear;

            .content-center {
              @include content-center(true);

              i {
                color: $primaryColor;
                font-size: 10px;
              }

              position: absolute;
              top: 50%;
              left: 50%;

              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }
  }

  .creative {
    background: rgb(242, 244, 236);

    .container {
      .row {
        .col-md-4 {
          .box {
            display: flex;
            text-align: start;

            .icon {
              padding: 0 10px;

              i {
                font-size: 70px;
                font-weight: 200;

                @include xs {
                  font-size: 60px;
                }
              }
            }

            .content-center {
              @include content-center(false);

              @include xs {
                margin-bottom: 30px;
              }
            }
          }
        }
      }
    }
  }
}

.our-team {
  .container {
    text-align: center;

    .content {
      .wrapper {
        .content-center {
          @include content-center(false);
        }
      }
    }

    .row {
      .box {
        margin: 10px;

        overflow: hidden;
        position: relative;

        &:hover {
          img {
            transform: scale(1.1);
            transition: all 0.6s ease-in-out;
          }

          .info {
            position: absolute;
            top: 5%;
            left: 5%;

            visibility: visible;
            opacity: 1;
            transition: all 0.4s ease-in-out;
          }
        }

        img {
          vertical-align: middle;
          transition: all 0.6s ease-in-out;
        }

        .info {
          visibility: hidden;
          opacity: 0;
          transition: all 0.4s ease-in-out;

          padding: 50px 0;
          background: $primaryColor;

          width: 80%;

          position: absolute;
          top: 5%;
          left: -5%;

          .content-center {
            width: 80%;
            transform: translateX(25px);
            @include content-center(false);
          }

          .icon {
            margin-top: 30px;

            i {
              font-size: 12px;
              cursor: pointer;
              margin: 2px;
              &:hover {
                color: rgba(204, 204, 204, 0.678);
              }
            }
          }
        }
      }
    }
  }
}

.our-description {
  .services {
    text-align: center;
    background: #000;

    .container {
      .row {
        @include lg {
          display: flex;
          justify-content: space-between;
        }

        .col-md-6 {
          @include xs {
            margin: 15px;
          }
          @include lg {
            flex-basis: 22%;
          }
          .content-center {
            @include content-center(true);
          }
        }
      }
    }
  }

  .service-body {
    height: 500px;
    background-image: url("https://ninetheme.com/themes/forester/wp-content/uploads/2017/07/bg-7.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.466);

      position: absolute;
      top: 0;
      left: 0;
    }

    .container {
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      .wrapper {
        .content-center {
          @include content-center(true);
        }
      }

      .row {
        .col-xs-12 {
          #slide2 {
            width: 50%;
            transform: translateX(50%);
            overflow: hidden;

            .quotes {
              .quotes-body {
                @include content-center(true);
              }

              .quotes-bottom {
                @include content-center(true);
              }
            }
          }
        }
      }
    }
  }
}

.social {
  background: rgb(242, 244, 236);

  .container {
    text-align: center;

    .wrapper {
      .content-center {
        @include content-center(false);
      }
    }

    .row {
      .col-md-3 {
        margin: 20px 0;

        .icon {
          i {
            font-size: 70px;
            margin-bottom: 15px;
          }

          @include content-center(false);
        }
      }
    }
  }
}

.contact {
  .container {
    .row {
      .col-lg-4 {
        .left {
          @include content-center(false);

          .method-contact {
            .col {
              display: flex;
              margin-bottom: 20px;

              .icon {
                text-align: center;
                margin-right: 30px;

                i {
                  font-size: 30px;
                  font-weight: 200;
                }
              }

              .wrapper {
                position: relative;

                &::before {
                  content: "";

                  width: 40px;
                  height: 40px;

                  border-left: 1px solid rgba(204, 204, 204, 0.26);

                  position: absolute;
                  left: 0;

                  transform: translate(-20%, 10%);
                }
              }
            }
          }
        }
      }

      .col-lg-8 {
        .right {
          input,
          textarea {
            @include xs {
              height: 40px;
            }

            @include md {
              height: 40px;
            }

            @include lg {
              height: 45px;
            }

            width: 100%;
            padding-left: 10px;
            margin-bottom: 15px;
            background: rgba(223, 216, 216, 0.26);
            border-radius: 4px;

            &::placeholder {
              text-transform: capitalize;
            }
          }

          textarea {
            @include xs {
              height: 80px;
            }

            @include md {
              height: 80px;
            }

            @include lg {
              height: 90px;
            }
          }

          button {
            min-width: 180px;
            width: 180px;
            height: 45px;
            border: 1px solid rgba(204, 204, 204, 0.185);
            border-radius: 50px;
            text-transform: uppercase;
            transition: all 0.2s ease-in;

            &:hover {
              border: transparent;
              background: rgba(226, 222, 222, 0.26);
              transition: all 0.2s ease-in;
            }
          }
        }
      }
    }
  }

  .map {
    iframe {
      max-width: 100%;
      width: 100%;
    }
  }

  .client {
    .container {
      padding: 50px 0;

      .row {
        .col-xs-12 {
          #slide3 {
            .icon {
              transition: all 0.2s ease-in;
              position: relative;
              margin-right: 0;
              width: 50%;

              &:hover {
                &::before {
                  content: "";
                  width: 100%;
                  height: 100%;

                  background: rgba(255, 255, 255, 0.575);
                  position: absolute;
                  top: 0;
                  left: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

.back-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  transform: translate(-30px, -30px);

  a {
    padding: 15px;
    background: $inputColor;
    border-radius: 4px;

    &::before {
      content: "";
      width: 5px;
      height: 5px;

      border-top: 2px solid $primaryColor;
      border-left: 2px solid $primaryColor;

      position: absolute;
      top: 0%;
      left: 0%;

      transform: translate(12px, 10px) rotate(45deg);
    }
  }
}
