// CONTENT CENTER //
@mixin content-center($color) {
  .title {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }

    text-transform: uppercase;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 2px;
  }

  h5 {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }

    font-size: 18px;
    font-weight: 400;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  h1 {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }

    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 130px;
    font-weight: 900;
  }

  h2 {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 900;
  }

  h3{
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
  }

  p{
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }
    
    &::first-letter{
      text-transform: capitalize;
    }

    font-size: 14px;
    font-weight: 500;
    padding: 20px;
  }
}
