// CONTENT CENTER //
@mixin content-center($color) {
  h5 {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }

    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
  }

  .discription {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }

    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    text-transform: lowercase;

    &:first-letter {
      text-transform: capitalize;
    }
  }

  h1 {
    @if ($color == true) {
      color: $primaryColor;
    } @else {
      color: $secondaryColor;
    }

    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 130px;
    font-weight: 900;
  }

  h2 {
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 900;
  }

  h3{
    text-transform: capitalize;
    font-size: 30px;
    font-weight: 600;
    color: $primaryColor;
    margin-bottom: 10px;
  }
}
