* {
  margin: 0;
  padding: 0;
  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
}

body,
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  border: none;
  text-decoration: none;
}

button,
input,
textarea {
  border: none;
  background: none;
}

button:focus,
input:focus,
textarea:focus {
  border: none;
  outline: none;
  background: none;
}

*::-moz-selection {
  background: gray;
  color: white;
  box-sizing: border-box;
}

*::selection {
  background: gray;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.our-story {
  background: white;
}

.our-story .container {
  padding: 140px 0;
  text-align: center;
}

.our-story .container .wrapper {
  width: 70%;
  margin-left: 170px;
}

.our-story .container .wrapper .content-center {
  position: relative;
}

.our-story .container .wrapper .content-center .title {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-story .container .wrapper .content-center h5 {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.our-story .container .wrapper .content-center h5:first-letter {
  text-transform: capitalize;
}

.our-story .container .wrapper .content-center h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-story .container .wrapper .content-center h2 {
  color: black;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.our-story .container .wrapper .content-center h3 {
  color: black;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.our-story .container .wrapper .content-center h4 {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.our-story .container .wrapper .content-center p {
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.our-story .container .wrapper .content-center p::first-letter {
  text-transform: capitalize;
}

.our-story .container .wrapper .content-center .btn-inner {
  width: 100%;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-25%, 60px);
          transform: translate(-25%, 60px);
}

.our-story .container .wrapper .content-center .btn-inner p {
  color: #a2a2a2;
}

.our-story .container .wrapper .content-center .btn-inner a {
  color: #a2a2a2;
  text-transform: capitalize;
  text-decoration: underline;
}

.our-expertise {
  background: #f2f4ec;
  padding: 140px 0;
}

.our-expertise .container {
  text-align: center;
  margin-bottom: 30px;
}

.our-expertise .container .wrapper .content-center .title {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-expertise .container .wrapper .content-center h5 {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.our-expertise .container .wrapper .content-center h5:first-letter {
  text-transform: capitalize;
}

.our-expertise .container .wrapper .content-center h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-expertise .container .wrapper .content-center h2 {
  color: black;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.our-expertise .container .wrapper .content-center h3 {
  color: black;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.our-expertise .container .wrapper .content-center h4 {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.our-expertise .container .wrapper .content-center p {
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.our-expertise .container .wrapper .content-center p::first-letter {
  text-transform: capitalize;
}

.our-expertise .row {
  margin-bottom: 60px;
}

.our-expertise .row .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-expertise .row .container .col {
  -ms-flex-preferred-size: 32%;
      flex-basis: 32%;
  background: white;
}

.our-expertise .row .container .col:hover .icon i {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.our-expertise .row .container .col .icon {
  background-image: url("https://ninetheme.com/themes/forester/wp-content/uploads/2018/05/bg-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-expertise .row .container .col .icon i {
  font-size: 45px;
  font-weight: 400;
  color: white;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.our-expertise .row .container .col .wrapper {
  margin-top: 20px;
}

.our-expertise .row .container .col .wrapper .content-center {
  padding: 20px;
}

.our-expertise .row .container .col .wrapper .content-center .title {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-expertise .row .container .col .wrapper .content-center h5 {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.our-expertise .row .container .col .wrapper .content-center h5:first-letter {
  text-transform: capitalize;
}

.our-expertise .row .container .col .wrapper .content-center h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-expertise .row .container .col .wrapper .content-center h2 {
  color: black;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.our-expertise .row .container .col .wrapper .content-center h3 {
  color: black;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.our-expertise .row .container .col .wrapper .content-center h4 {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.our-expertise .row .container .col .wrapper .content-center p {
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.our-expertise .row .container .col .wrapper .content-center p::first-letter {
  text-transform: capitalize;
}

.our-expertise .row .container .col .wrapper a {
  font-size: 12px;
  font-weight: 500;
  color: black;
  text-transform: uppercase;
  padding: 10px;
}

.our-expertise .bottom .container {
  text-align: center;
}

.our-expertise .bottom .container p {
  width: 40%;
  font-size: 12px;
  font-weight: 300;
  color: black;
  -webkit-transform: translateX(75%);
          transform: translateX(75%);
}

.our-expertise .bottom .container a {
  margin-top: 20px;
  padding: 10px 40px;
  border: 1px solid #ccc;
  border-radius: 50px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  color: black;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.our-expertise .bottom .container a:hover {
  color: white;
  background: #000;
  -webkit-transition: all .3s ease-in;
  transition: all .3s ease-in;
}

.our-portfolio .container {
  text-align: center;
  padding-top: 140px;
}

.our-portfolio .container .wrapper .content-center .title {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-portfolio .container .wrapper .content-center h5 {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.our-portfolio .container .wrapper .content-center h5:first-letter {
  text-transform: capitalize;
}

.our-portfolio .container .wrapper .content-center h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-portfolio .container .wrapper .content-center h2 {
  color: black;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.our-portfolio .container .wrapper .content-center h3 {
  color: black;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.our-portfolio .container .wrapper .content-center h4 {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.our-portfolio .container .wrapper .content-center p {
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.our-portfolio .container .wrapper .content-center p::first-letter {
  text-transform: capitalize;
}

.our-portfolio .filter-portfolio .container {
  padding-top: 0;
}

.our-portfolio .filter-portfolio .container .filter-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-portfolio .filter-portfolio .container .filter-menu nav ul li {
  cursor: pointer;
  text-transform: uppercase;
  padding: 40px 20px;
  font-size: 11px;
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.our-portfolio .filter-portfolio .container .filter-menu nav ul li.active {
  color: #a2a2a2;
}

.our-portfolio .filter-portfolio .container .filter-menu nav ul li:hover {
  color: #a2a2a2;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.our-portfolio .filter-portfolio .list-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.our-portfolio .filter-portfolio .list-images .image-box {
  -ms-flex-preferred-size: 49%;
      flex-basis: 49%;
  position: relative;
  margin-bottom: 10px;
}

.our-portfolio .filter-portfolio .list-images .image-box img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.our-portfolio .filter-portfolio .list-images .image-box:hover .overlay {
  visibility: visible;
  opacity: 1;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  height: 448px;
}

.our-portfolio .filter-portfolio .list-images .image-box .overlay {
  text-align: center;
  max-width: 100%;
  width: 100%;
  height: 0%;
  background: #363636;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.our-portfolio .filter-portfolio .list-images .image-box .overlay .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.our-portfolio .filter-portfolio .list-images .image-box .overlay .content-center .title {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-portfolio .filter-portfolio .list-images .image-box .overlay .content-center h5 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.our-portfolio .filter-portfolio .list-images .image-box .overlay .content-center h5:first-letter {
  text-transform: capitalize;
}

.our-portfolio .filter-portfolio .list-images .image-box .overlay .content-center h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-portfolio .filter-portfolio .list-images .image-box .overlay .content-center h2 {
  color: white;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.our-portfolio .filter-portfolio .list-images .image-box .overlay .content-center h3 {
  color: white;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.our-portfolio .filter-portfolio .list-images .image-box .overlay .content-center h4 {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.our-portfolio .filter-portfolio .list-images .image-box .overlay .content-center p {
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.our-portfolio .filter-portfolio .list-images .image-box .overlay .content-center p::first-letter {
  text-transform: capitalize;
}

.our-portfolio .filter-portfolio .list-images .image-box .overlay .content-center i {
  color: white;
  font-size: 10px;
}

.our-portfolio .creative {
  background: #f2f4ec;
}

.our-portfolio .creative .container {
  padding: 80px 0;
}

.our-portfolio .creative .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: start;
}

.our-portfolio .creative .container .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: 20px;
}

.our-portfolio .creative .container .row .col:last-child {
  margin-right: 0;
}

.our-portfolio .creative .container .row .col .icon {
  padding-right: 15px;
}

.our-portfolio .creative .container .row .col .icon i {
  font-size: 80px;
  font-weight: 200;
}

.our-portfolio .creative .container .row .col .content-center .title {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-portfolio .creative .container .row .col .content-center h5 {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.our-portfolio .creative .container .row .col .content-center h5:first-letter {
  text-transform: capitalize;
}

.our-portfolio .creative .container .row .col .content-center h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-portfolio .creative .container .row .col .content-center h2 {
  color: black;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.our-portfolio .creative .container .row .col .content-center h3 {
  color: black;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.our-portfolio .creative .container .row .col .content-center h4 {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.our-portfolio .creative .container .row .col .content-center p {
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.our-portfolio .creative .container .row .col .content-center p::first-letter {
  text-transform: capitalize;
}

.our-team .container {
  padding: 140px 0 0;
  text-align: center;
}

.our-team .container .wrapper .content-center .title {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-team .container .wrapper .content-center h5 {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.our-team .container .wrapper .content-center h5:first-letter {
  text-transform: capitalize;
}

.our-team .container .wrapper .content-center h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-team .container .wrapper .content-center h2 {
  color: black;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.our-team .container .wrapper .content-center h3 {
  color: black;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.our-team .container .wrapper .content-center h4 {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.our-team .container .wrapper .content-center p {
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.our-team .container .wrapper .content-center p::first-letter {
  text-transform: capitalize;
}

.our-team .container #slide1 .image-box {
  margin: 20px;
  overflow: hidden;
  position: relative;
  margin-right: 20px;
}

.our-team .container #slide1 .image-box:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.our-team .container #slide1 .image-box:hover .info {
  position: absolute;
  top: 5%;
  left: 5%;
  visibility: visible;
  opacity: 1;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.our-team .container #slide1 .image-box img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.our-team .container #slide1 .image-box:last-child {
  margin-right: 0;
}

.our-team .container #slide1 .image-box .info {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  padding: 60px 0;
  background: white;
  width: 90%;
  position: absolute;
  top: 5%;
  left: -5%;
}

.our-team .container #slide1 .image-box .info .content-center {
  width: 80%;
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
}

.our-team .container #slide1 .image-box .info .content-center .title {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-team .container #slide1 .image-box .info .content-center h5 {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.our-team .container #slide1 .image-box .info .content-center h5:first-letter {
  text-transform: capitalize;
}

.our-team .container #slide1 .image-box .info .content-center h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-team .container #slide1 .image-box .info .content-center h2 {
  color: black;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.our-team .container #slide1 .image-box .info .content-center h3 {
  color: black;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.our-team .container #slide1 .image-box .info .content-center h4 {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.our-team .container #slide1 .image-box .info .content-center p {
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.our-team .container #slide1 .image-box .info .content-center p::first-letter {
  text-transform: capitalize;
}

.our-team .container #slide1 .image-box .info .icon {
  margin-top: 40px;
}

.our-team .container #slide1 .image-box .info .icon i {
  font-size: 12px;
  cursor: pointer;
}

.our-team .container #slide1 .image-box .info .icon i:hover {
  color: rgba(204, 204, 204, 0.678);
}

.our-description .services {
  text-align: center;
  background: #000;
}

.our-description .services .container {
  padding: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-description .services .container .col {
  -ms-flex-preferred-size: 22%;
      flex-basis: 22%;
}

.our-description .services .container .col .content-center .title {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-description .services .container .col .content-center h5 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.our-description .services .container .col .content-center h5:first-letter {
  text-transform: capitalize;
}

.our-description .services .container .col .content-center h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-description .services .container .col .content-center h2 {
  color: white;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.our-description .services .container .col .content-center h3 {
  color: white;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.our-description .services .container .col .content-center h4 {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.our-description .services .container .col .content-center p {
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.our-description .services .container .col .content-center p::first-letter {
  text-transform: capitalize;
}

.our-description .service-body {
  height: 400px;
  background-image: url("https://ninetheme.com/themes/forester/wp-content/uploads/2017/07/bg-7.jpg");
  background-repeat: no-repeat;
  position: relative;
}

.our-description .service-body::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.466);
  position: absolute;
  top: 0;
  left: 0;
}

.our-description .service-body .container {
  padding: 140px 0;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.our-description .service-body .container .wrapper .content-center .title {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-description .service-body .container .wrapper .content-center h5 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.our-description .service-body .container .wrapper .content-center h5:first-letter {
  text-transform: capitalize;
}

.our-description .service-body .container .wrapper .content-center h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-description .service-body .container .wrapper .content-center h2 {
  color: white;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.our-description .service-body .container .wrapper .content-center h3 {
  color: white;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.our-description .service-body .container .wrapper .content-center h4 {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.our-description .service-body .container .wrapper .content-center p {
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.our-description .service-body .container .wrapper .content-center p::first-letter {
  text-transform: capitalize;
}

.our-description .service-body .container #slide2 .quotes .quotes-body .title {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-description .service-body .container #slide2 .quotes .quotes-body h5 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.our-description .service-body .container #slide2 .quotes .quotes-body h5:first-letter {
  text-transform: capitalize;
}

.our-description .service-body .container #slide2 .quotes .quotes-body h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-description .service-body .container #slide2 .quotes .quotes-body h2 {
  color: white;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.our-description .service-body .container #slide2 .quotes .quotes-body h3 {
  color: white;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.our-description .service-body .container #slide2 .quotes .quotes-body h4 {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.our-description .service-body .container #slide2 .quotes .quotes-body p {
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.our-description .service-body .container #slide2 .quotes .quotes-body p::first-letter {
  text-transform: capitalize;
}

.our-description .service-body .container #slide2 .quotes .quotes-bottom .title {
  color: white;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-description .service-body .container #slide2 .quotes .quotes-bottom h5 {
  color: white;
  font-size: 18px;
  font-weight: 500;
}

.our-description .service-body .container #slide2 .quotes .quotes-bottom h5:first-letter {
  text-transform: capitalize;
}

.our-description .service-body .container #slide2 .quotes .quotes-bottom h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-description .service-body .container #slide2 .quotes .quotes-bottom h2 {
  color: white;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.our-description .service-body .container #slide2 .quotes .quotes-bottom h3 {
  color: white;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.our-description .service-body .container #slide2 .quotes .quotes-bottom h4 {
  color: white;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.our-description .service-body .container #slide2 .quotes .quotes-bottom p {
  color: white;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.our-description .service-body .container #slide2 .quotes .quotes-bottom p::first-letter {
  text-transform: capitalize;
}

.social {
  background: #f2f4ec;
}

.social .container {
  padding: 140px 0;
  text-align: center;
}

.social .container .wrapper .content-center .title {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.social .container .wrapper .content-center h5 {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.social .container .wrapper .content-center h5:first-letter {
  text-transform: capitalize;
}

.social .container .wrapper .content-center h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.social .container .wrapper .content-center h2 {
  color: black;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.social .container .wrapper .content-center h3 {
  color: black;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.social .container .wrapper .content-center h4 {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.social .container .wrapper .content-center p {
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.social .container .wrapper .content-center p::first-letter {
  text-transform: capitalize;
}

.social .container .row {
  margin: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social .container .row .icon i {
  font-size: 70px;
  margin-bottom: 15px;
}

.social .container .row .icon .title {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.social .container .row .icon h5 {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.social .container .row .icon h5:first-letter {
  text-transform: capitalize;
}

.social .container .row .icon h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.social .container .row .icon h2 {
  color: black;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.social .container .row .icon h3 {
  color: black;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.social .container .row .icon h4 {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.social .container .row .icon p {
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.social .container .row .icon p::first-letter {
  text-transform: capitalize;
}

.contact .container {
  padding: 140px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contact .container .left {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

.contact .container .left .title {
  color: black;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
}

.contact .container .left h5 {
  color: black;
  font-size: 18px;
  font-weight: 500;
}

.contact .container .left h5:first-letter {
  text-transform: capitalize;
}

.contact .container .left h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.contact .container .left h2 {
  color: black;
  text-transform: capitalize;
  font-size: 45px;
  font-weight: 700;
}

.contact .container .left h3 {
  color: black;
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
}

.contact .container .left h4 {
  color: black;
  text-transform: capitalize;
  font-size: 20px;
  font-weight: 600;
}

.contact .container .left p {
  color: black;
  font-size: 14px;
  font-weight: 400;
  padding-top: 10px;
}

.contact .container .left p::first-letter {
  text-transform: capitalize;
}

.contact .container .left .method-contact .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.contact .container .left .method-contact .col .icon {
  text-align: center;
  margin-right: 30px;
}

.contact .container .left .method-contact .col .icon i {
  font-size: 30px;
  font-weight: 200;
}

.contact .container .left .method-contact .col .wrapper {
  position: relative;
}

.contact .container .left .method-contact .col .wrapper::before {
  content: "";
  width: 40px;
  height: 40px;
  border-left: 1px solid rgba(204, 204, 204, 0.26);
  position: absolute;
  left: 0;
  -webkit-transform: translate(-20%, 10%);
          transform: translate(-20%, 10%);
}

.contact .container .right {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}

.contact .container .right input,
.contact .container .right textarea {
  margin: 10px 0;
  width: 100%;
  height: 45px;
  background: rgba(223, 216, 216, 0.26);
  border-radius: 4px;
}

.contact .container .right input::-webkit-input-placeholder,
.contact .container .right textarea::-webkit-input-placeholder {
  padding: 15px;
  text-transform: capitalize;
}

.contact .container .right input:-ms-input-placeholder,
.contact .container .right textarea:-ms-input-placeholder {
  padding: 15px;
  text-transform: capitalize;
}

.contact .container .right input::-ms-input-placeholder,
.contact .container .right textarea::-ms-input-placeholder {
  padding: 15px;
  text-transform: capitalize;
}

.contact .container .right input::placeholder,
.contact .container .right textarea::placeholder {
  padding: 15px;
  text-transform: capitalize;
}

.contact .container .right textarea {
  height: 100px;
}

.contact .container .right button {
  width: 180px;
  height: 45px;
  border: 1px solid rgba(204, 204, 204, 0.185);
  border-radius: 50px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.contact .container .right button:hover {
  border: transparent;
  background: rgba(226, 222, 222, 0.26);
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.contact .map iframe {
  width: 100%;
}

.contact .client .container {
  padding: 50px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .client .container #slide3 .icon {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.contact .client .container #slide3 .icon:hover {
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.contact .client .container #slide3 .icon:hover::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.575);
  position: absolute;
  top: 0;
  left: 0;
}

.contact .client .container #slide3 .icon img {
  max-width: 100%;
  width: 50%;
  height: 50%;
  cursor: pointer;
}

.back-to-top {
  position: fixed;
  right: 0;
  bottom: 0;
  -webkit-transform: translate(-30px, -30px);
          transform: translate(-30px, -30px);
}

.back-to-top a {
  padding: 15px;
  background: rgba(190, 208, 148, 0.8);
  border-radius: 4px;
}

.back-to-top a::before {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translate(12px, 10px) rotate(45deg);
          transform: translate(12px, 10px) rotate(45deg);
}
/*# sourceMappingURL=home.css.map */