@import 'reset';
@import 'mixin';

.container{
  width: 1100px;
  margin: 0 auto;
}

.our-story {
  background: $primaryColor;

  .container {
    padding: 140px 0;
    text-align: center;

    .wrapper{
      width: 70%;
      margin-left: 170px;
  
      .content-center {
        @include content-center(false);
        position: relative;
  
        .btn-inner {
          width: 100%;
          font-size: 12px;

          display: flex;
  
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-25%,60px);
          //transform: translateX(-50%);
          p {
            color: $smallTextColor;
          }
  
          a {
            color: $smallTextColor;
            padding-left: 5px;
            text-transform: capitalize;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.our-expertise{
  background: rgba(0,0,0,.16);

  .container{
    padding: 140px 0;
    text-align: center;

   .wrapper{
    .content-center{
      @include content-center(false);
    }
   }
  }
}

.our-portfolio{
  padding: 140px 0 0;

  .container{
    text-align: center;

    .wrapper{
      .content-center{
        @include content-center(false);
      }
    }
  }

  .filter-portfolio{
    .container{
      .filter-menu{
        nav{
          ul{
            display: flex;
            justify-content: center;
            align-items: center;

            li{
              cursor: pointer;
              text-transform: uppercase;
              padding: 40px 10px;
              font-size: 11px;
              font-weight: 700;
              transition: all .2s ease-in;

              &.active{
                color: $smallTextColor;
              }

              &:hover{
                color: $smallTextColor;
                transition: all .2s ease-in;
              }
            }
          }
        }
      }
    }

    .list-images{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .image-box{
        flex-basis: 48%;
        margin-bottom: 15px;
        position: relative;

        &::before{
          content: "";
          width: 100%;
          background: rgb(54, 54, 54);

          position: absolute;
          top: 0;
          left: 0;
        }
      
        a{
          img{
            max-width: 100%;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        // &:hover{
        //  .caption{
        //   visibility: visible;
        //   opacity: 1;
        //   transition: all .2s linear;
        //  }
        // }

        .caption{
          text-align: center;
          width: 100%;
          height: 100%;

          position: absolute;
          top: 0;
          left: 0;

          // visibility: hidden;
          // opacity: 0;
          //transition: all .2s linear;

          .content-center{
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            @include content-center(true);

            i{
              color: $primaryColor;
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

.our-team{
  .container{
    padding: 140px 0 0;
    text-align: center;

    .wrapper{
      .content-center{
        @include content-center(false);
      }
    }

    .slide{
      margin-top: 30px;

      .image-box{
        img{
          max-width: 100%;
          width: 100%;
        }

        margin-right: 20px;

        // &:last-child{
        //   margin-right: 0;
        // }
      }
    }
  }
}

.our-description{
  background-image: url('https://ninetheme.com/themes/forester/wp-content/uploads/2017/07/bg-7.jpg');
  //background: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}