@import "reset";
@import "mixin";

.container {
  width: 1100px;
  margin: 0 auto;
}

.our-story {
  background: $primaryColor;

  .container {
    padding: 140px 0;
    text-align: center;

    .wrapper {
      width: 70%;
      margin-left: 170px;

      .content-center {
        @include content-center(false);
        position: relative;

        .btn-inner {
          width: 100%;
          font-size: 12px;

          display: flex;
          align-items: center;

          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-25%, 60px);

          p {
            color: $smallTextColor;
          }

          a {
            color: $smallTextColor;
            text-transform: capitalize;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

.our-expertise {
  background: rgb(242, 244, 236);
  padding: 140px 0;

  .container {
    text-align: center;
    margin-bottom: 30px;

    .wrapper {
      .content-center {
        @include content-center(false);
      }
    }
  }

  .row{
    margin-bottom: 60px;
    .container{
      display: flex;
      justify-content: space-between;

      .col{
        flex-basis: 32%;
        background: $primaryColor;

        &:hover{
          .icon{
            i{
              transform: translateY(-10px);
              transition: all .2s ease-in;
            }
          }
        }

        .icon{
          background-image: url('https://ninetheme.com/themes/forester/wp-content/uploads/2018/05/bg-1.jpg');
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center center;
          background-attachment: fixed;

          height: 180px;
          display: flex;
          justify-content: center;
          align-items: center;

          i{
            font-size: 45px;
            font-weight: 400;
            color: $primaryColor;
            transition: all .2s ease-in;
          }
        }

        .wrapper{
          margin-top: 20px;
          
          .content-center{
            padding: 20px;
            @include content-center(false);
          }

          a{
            font-size: 12px;
            font-weight: 500;
            color: $secondaryColor;
            text-transform: uppercase;
            padding: 10px;
          }
        }
      }
    }
  }

  .bottom{
    .container{
      text-align: center;

      p{
        width: 40%;
        font-size: 12px;
        font-weight: 600;
        color: $secondaryColor;
        transform: translateX(75%);
      }

      a{
        margin-top: 20px;
        padding: 10px 40px;
        border: 1px solid #ccc;
        border-radius: 50px;

        text-transform: uppercase;
        font-size: 12px;
        font-weight: 500;
        color: $secondaryColor;

        transition: all .3s ease-in;

        &:hover{
          color: $primaryColor;
          background: #000;
          transition: all .3s ease-in;
        }
      }
    }
  }
}

.our-portfolio {
  .container {
    text-align: center;
    padding-top: 140px;

    .wrapper {
      .content-center {
        @include content-center(false);
      }
    }
  }

  .filter-portfolio {
    .container {
      padding-top: 0;

      .filter-menu {
        nav {
          ul {
            display: flex;
            justify-content: center;
            align-items: center;

            li {
              cursor: pointer;
              text-transform: uppercase;
              padding: 40px 20px;
              font-size: 11px;
              font-weight: 700;
              transition: all 0.2s ease-in;

              &.active {
                color: $smallTextColor;
              }

              &:hover {
                color: $smallTextColor;
                transition: all 0.2s ease-in;
              }
            }
          }
        }
      }
    }

    .list-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;

      .image-box {
        flex-basis: 48%;
        margin-bottom: 15px;
        position: relative;

        img {
          max-width: 100%;
          width: 100%;
          object-fit: cover;
        }

        &:hover {
          .overlay {
            visibility: visible;
            opacity: 1;
            transition: all 0.3s linear;
            height: 100%;
          }
        }

        .overlay {
          text-align: center;
          max-width: 100%;
          width: 100%;
          height: 0%;
          background: rgb(54, 54, 54);

          position: absolute;
          top: 0;
          left: 0;

          visibility: hidden;
          opacity: 0;
          transition: all 0.3s linear;

          .content-center {
            position: absolute;
            top: 50%;
            left: 50%;

            transform: translate(-50%, -50%);

            @include content-center(true);

            i {
              color: $primaryColor;
              font-size: 10px;
            }
          }
        }
      }
    }
  }

  .creative {
    background: rgb(242, 244, 236);

    .container {
      padding: 80px 0;

      .row {
        display: flex;
        text-align: start;

        .col {
          display: flex;
          justify-content: space-between;

          margin-right: 20px;
          &:last-child{
            margin-right: 0;
          }

          .icon {
            padding-right: 15px;

            i {
              font-size: 80px;
              font-weight: 200;
            }
          }

          .content-center {
            @include content-center(false);
          }
        }
      }
    }
  }
}

.our-team {
  .container {
    padding: 140px 0 0;
    text-align: center;

    .wrapper {
      .content-center {
        @include content-center(false);
      }
    }

    .slide {
      .image-box {
        margin: 20px;
        overflow: hidden;
        position: relative;

        &:hover{
          img{
            transform: scale(1.1);
            transition: all .6s ease-in-out;
          }

          .info{
            position: absolute;
            top: 5%;
            left: 5%;

            visibility: visible;
            opacity: 1;
            transition: all .4s ease-in-out;
          }
        }

        img {
          max-width: 100%;
          width: 100%;
          vertical-align: middle;
          transition: all .6s ease-in-out;
        }

        margin-right: 20px;
        &:last-child{
          margin-right: 0;
        }

        .info{
          visibility: hidden;
          opacity: 0;
          transition: all .4s ease-in-out;

          padding: 60px 0;
          background: $primaryColor;

          width: 90%;

          position: absolute;
          top: 5%;
          left: -5%;

          .content-center{
            width: 80%;
            transform: translateX(25px);
            @include content-center(false); 
          }

          .icon{
            margin-top: 40px;

            i{
              font-size: 12px;
              cursor: pointer;
              
              &:hover{
                color: rgba(204, 204, 204, 0.678);
              }
            }
          }
        }
      }
    }
  }
}

.our-description {
  .services {
    text-align: center;
    background: #000;

    .container {
      padding: 140px 0;
      display: flex;
      justify-content: space-between;

      .col {
        flex-basis: 22%;

        .content-center {
          @include content-center(true);
        }
      }
    }
  }

  .service-body {
    height: 400px;
    background-image: url("https://ninetheme.com/themes/forester/wp-content/uploads/2017/07/bg-7.jpg");
    background-repeat: no-repeat;

    position: relative;

    &::before{
      content: "";
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.377);

      position: absolute;
      top: 0;
      left: 0;
    }

    .container {
      padding: 140px 0;

      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;

      transform: translate(-50%, -50%);

      .wrapper {
        .content-center {
          @include content-center(true);
        }
      }

      .slide-quotes {
        .quotes {
         // margin-left: 270px;

          .quotes-body {
            @include content-center(true);
          }

          .quotes-bottom {
            @include content-center(true);
          }
        }
      }
    }
  }
}

.social {
  background: rgb(242, 244, 236);

  .container {
    padding: 140px 0;
    text-align: center;

    .wrapper {
      .content-center {
        @include content-center(false);
      }
    }

    .row {
      margin: 30px 0;

      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        i {
          font-size: 70px;
          margin-bottom: 15px;
        }

        @include content-center(false);
      }
    }
  }
}

.contact {
  .container {
    padding: 140px 0;
    display: flex;

    .left {
      flex-basis: 35%;
      @include content-center(false);

      .method-contact {
        .col {
          display: flex;
          margin-bottom: 20px;

          .icon {
            text-align: center;
            margin-right: 30px;

            i {
              font-size: 30px;
              font-weight: 200;
            }
          }

          .wrapper {
            position: relative;

            &::before {
              content: "";

              width: 40px;
              height: 40px;

              border-left: 1px solid rgba(204, 204, 204, 0.26);

              position: absolute;
              left: 0;

              transform: translate(-20%, 10%);
            }
          }
        }
      }
    }

    .right {
      flex-basis: 65%;

      input,
      textarea {
        margin: 10px 0;
        width: 100%;
        height: 45px;
        background: rgba(223, 216, 216, 0.26);

        &::placeholder {
          padding: 15px;
          text-transform: capitalize;
        }
      }

      textarea {
        height: 100px;
      }

      button {
        width: 180px;
        height: 45px;
        border: 1px solid rgba(204, 204, 204, 0.185);
        border-radius: 50px;
        text-transform: uppercase;
        transition: all 0.2s ease-in;

        &:hover {
          border: transparent;
          background: rgba(226, 222, 222, 0.26);
          transition: all 0.2s ease-in;
        }
      }
    }
  }

  .map {
    iframe {
      width: 100%;
    }
  }

  .client {
    .container {
      padding: 50px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon {
        transition: all 0.2s ease-in;

        &:hover {
          position: relative;
          transition: all 0.2s ease-in;

          &::before {
            content: "";
            width: 100%;
            height: 100%;

            background: rgba(255, 255, 255, 0.575);
            position: absolute;
            top: 0;
            left: 0;
          }
        }

        img {
          max-width: 100%;
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
      }
    }
  }
}
