* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

body, html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  border: none;
  text-decoration: none;
}

button, input {
  border: none;
}

button:focus, input:focus {
  border: none;
  outline: none;
  background: none;
}

*::-moz-selection {
  background: pink;
  color: white;
  box-sizing: border-box;
}

*::selection {
  background: pink;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

.our-story {
  background: white;
}

.our-story .container {
  padding: 140px 0;
  text-align: center;
}

.our-story .container .wrapper {
  width: 70%;
  margin-left: 170px;
}

.our-story .container .wrapper .content-center {
  position: relative;
}

.our-story .container .wrapper .content-center h5 {
  color: black;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-story .container .wrapper .content-center .discription {
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  text-transform: lowercase;
}

.our-story .container .wrapper .content-center .discription:first-letter {
  text-transform: capitalize;
}

.our-story .container .wrapper .content-center h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-story .container .wrapper .content-center h2 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 900;
}

.our-story .container .wrapper .content-center h3 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.our-story .container .wrapper .content-center .btn-inner {
  width: 100%;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-25%, 60px);
          transform: translate(-25%, 60px);
}

.our-story .container .wrapper .content-center .btn-inner p {
  color: #a2a2a2;
}

.our-story .container .wrapper .content-center .btn-inner a {
  color: #a2a2a2;
  padding-left: 5px;
  text-transform: capitalize;
  text-decoration: underline;
}

.our-expertise {
  background: rgba(0, 0, 0, 0.16);
}

.our-expertise .container {
  padding: 140px 0;
  text-align: center;
}

.our-expertise .container .wrapper .content-center h5 {
  color: black;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-expertise .container .wrapper .content-center .discription {
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  text-transform: lowercase;
}

.our-expertise .container .wrapper .content-center .discription:first-letter {
  text-transform: capitalize;
}

.our-expertise .container .wrapper .content-center h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-expertise .container .wrapper .content-center h2 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 900;
}

.our-expertise .container .wrapper .content-center h3 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.our-portfolio {
  padding: 140px 0;
}

.our-portfolio .container {
  text-align: center;
}

.our-portfolio .container .wrapper .content-center h5 {
  color: black;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-portfolio .container .wrapper .content-center .discription {
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  text-transform: lowercase;
}

.our-portfolio .container .wrapper .content-center .discription:first-letter {
  text-transform: capitalize;
}

.our-portfolio .container .wrapper .content-center h1 {
  color: black;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-portfolio .container .wrapper .content-center h2 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 900;
}

.our-portfolio .container .wrapper .content-center h3 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.our-portfolio .filter-portfolio .container .filter-menu nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-portfolio .filter-portfolio .container .filter-menu nav ul li {
  cursor: pointer;
  text-transform: uppercase;
  padding: 40px 10px;
  font-size: 11px;
  font-weight: 700;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.our-portfolio .filter-portfolio .container .filter-menu nav ul li.active {
  color: #a2a2a2;
}

.our-portfolio .filter-portfolio .container .filter-menu nav ul li:hover {
  color: #a2a2a2;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.our-portfolio .filter-portfolio .list-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.our-portfolio .filter-portfolio .list-images .image-box {
  -ms-flex-preferred-size: 48%;
      flex-basis: 48%;
  margin-bottom: 15px;
  position: relative;
}

.our-portfolio .filter-portfolio .list-images .image-box a img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.our-portfolio .filter-portfolio .list-images .image-box:hover .caption {
  visibility: visible;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.our-portfolio .filter-portfolio .list-images .image-box .caption {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  -webkit-transition: all .4s linear;
  transition: all .4s linear;
}

.our-portfolio .filter-portfolio .list-images .image-box .caption::before {
  content: "";
  width: 100%;
  height: auto;
  background: #363636;
  position: absolute;
  top: 0;
  left: 0;
}

.our-portfolio .filter-portfolio .list-images .image-box .caption .content-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.our-portfolio .filter-portfolio .list-images .image-box .caption .content-center h5 {
  color: white;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 2px;
}

.our-portfolio .filter-portfolio .list-images .image-box .caption .content-center .discription {
  color: white;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.8;
  text-transform: lowercase;
}

.our-portfolio .filter-portfolio .list-images .image-box .caption .content-center .discription:first-letter {
  text-transform: capitalize;
}

.our-portfolio .filter-portfolio .list-images .image-box .caption .content-center h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 130px;
  font-weight: 900;
}

.our-portfolio .filter-portfolio .list-images .image-box .caption .content-center h2 {
  text-transform: capitalize;
  font-size: 40px;
  font-weight: 900;
}

.our-portfolio .filter-portfolio .list-images .image-box .caption .content-center h3 {
  text-transform: capitalize;
  font-size: 30px;
  font-weight: 600;
  color: white;
  margin-bottom: 10px;
}

.our-portfolio .filter-portfolio .list-images .image-box .caption .content-center i {
  color: white;
  font-size: 10px;
}
/*# sourceMappingURL=home.css.map */