
@mixin content-center($color){
    h5 {
        @if($color == true){
            color: $primaryColor;
        }
        @else{
            color: $secondaryColor;
        }

        text-transform: uppercase;
        font-size: 10px;
        font-weight: 500;
      }

      h1 {
        @if($color == true){
            color: $primaryColor;
        }
        @else{
            color: $secondaryColor;
        }
        
        text-transform: uppercase;
        letter-spacing: 5px;
        font-size: 130px;
        font-weight: 900;
      }

      h2{
        text-transform: capitalize;
        font-size: 40px;
        font-weight: 900;
      }

      .description {
        font-size: 16px;
        font-weight: 500;
        text-transform: lowercase;

      //   overflow: hidden;
      //   display: -webkit-box;
      //   -webkit-box-orient: vertical;
      //   -webkit-line-clamp: 3;
        &:first-letter {
          text-transform: capitalize;
        }
      }
}