* {
  margin: 0;
  padding: 0;

  line-height: 1.6;
  font-family: "Montserrat", sans-serif;
}

$primaryColor: white;
$secondaryColor: black;
$inputColor: rgba(190, 208, 148, 0.8);
$smallTextColor: rgb(162, 162, 162);

body,
html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  display: inline-block;
  border: none;
  text-decoration: none;
}

button,
input,
textarea {
  border: none;
  background: none;

  &:focus {
    border: none;
    outline: none;
    background: none;
  }
}

*::selection {
  background: pink;
  color: white;

  box-sizing: border-box;
}
