*{
    margin: 0;
    padding: 0;
    
    font-family: 'Montserrat', sans-serif;
}

$primaryColor: white;
$secondaryColor: black;
$smallTextColor: rgb(162, 162, 162);

body,html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    display: inline-block;
    border: none;
    text-decoration: none;
}

button, input{
    border: none;

    &:focus{
        border: none;
        outline: none;
        background: none;
    }
}

*::selection{
    background: pink;
    color: white;

    box-sizing: border-box;
}